<%= form_for(user) do |form| %>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <h3>Permissions</h3>
  <table cellspacing=1 cellpadding=5>
    <thead>
      <tr>
        <th>#</th>
        <th>Permission</th>
        <th>Sites</th>
        <th>Site Tabs</th>
        <th>Destroy<th>
      </tr>
    </thead>
    <tbody>
      <%=form.fields_for :user_permissions do |f| %>
        <%= render partial: 'user_permission_fields', locals: { f: f } %>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_fields 'Add Permission', form, :user_permissions %>
  <div class="actions" style='margin-top: 50px;'>
    <%= form.submit("Save") %>
  </div>
<% end %>
